*{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}

body{
  background-color: antiquewhite;
  color: white;
  text-transform: uppercase;
}

#main{
  background-color: blueviolet;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin: 1.5rem auto;
  padding: 0 1rem;
  height: 90vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#main > *{
  margin-top: 1rem;
}

textarea{
  background-color: antiquewhite;
  padding: 1rem;
  font-size: 1rem;
}

#btn-translate {
  width: 50vw;
  margin: 1rem auto;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}

#btn-translate:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}

#btn-translate:active {
	position:relative;
	top:1px;
}